@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

/* PRODUCT..... PRODUCT LIST  HOVER STYLING */
.Popular-Product{
    transition: 1s;
    opacity: 1;
    z-index: 20;
}

.learnMore{
    position: absolute;
    top: 100px;
    right: 25px;
    transition: 0.2s;
    opacity: 0;
}

.addToCart{
    position: absolute;
    top: 250px;
    right: 25px;
    transition: 0.2s;
    opacity: 0;
}

.Popular-Product:hover .learnMore{
    top: 150px;
    opacity: 1;
}

.Popular-Product:hover .addToCart{
    top: 210px;
    opacity: 1;
}

.justThere{
    opacity: 0;
    bottom: -40px;
    transition: 0.2s;
}

.Popular-Product:hover .justThere{
    opacity: 1;
    bottom: 0px;
}
/* END OF....... PRODUCT LIST HOVER STYLING */

  

/* THIS IS THE BEGINING OF ABOUT COMPONENT STYLING */
.aboutH{
    background-image: url(UI/AboutComponent/Aboutpictures/headpictures.jpg);
    background-repeat: none;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
.logowrap:hover .logo{
    transform: translateY(-150px);
    transition: 1s ease-in-out;
}
.logowrap:hover .altlogo{
    transform: translateY(-150px);
    transition: 1s ease-in;
}

/* /* THIS IS THE END OF ABOUT COMPONENT STYLING */


/* BEGINING OF CONTACT COMPONENT STYLING */
.first{
    background-image: url(Contactpictures/pics1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #fabc3f82;
    background-blend-mode: darken;
    
}
.bb{
    border: 2px solid #cccccc;
    padding-left: 10px;
    
}
.bb:focus{
    border: 2px solid #478CCF;

    
}

.cc:hover{
    box-shadow:0 0 10px #478CCF;
}



/* THE END OF CONTACT COMPONENT STYLING */


/* BEGINING OF SERVICE COMPONENT STYLING */

.service{
    background-color: #478CCF;
    background-image: url(ServicePictures/firstpics.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.service2{
    background-image: url(ServicePictures/servicepic2.jpg);
    background-size: 100% 100%;
    background-color: #478CCF;
    background-blend-mode: soft-light;

}

/* END OF SERVICE COMPONENT STYLING */